<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>
var cx;
var cy;
var lx;
var ly;

function pad(x, y)
{
	if (pad.ctx == undefined)
	{
		pad.ctx = document.getElementById('pad').getContext('2d');
		pad.ctx.lineWidth = 3;
		pad.w = $('#pad').attr('width');
		pad.h = $('#pad').attr('height');
		$('#pad').css({position:'absolute', backgroundColor:'#eee', left:0, top:0, width:pad.w, height:pad.h});

/*
		pad.pointer = {};
		pad.pointer.ctx = document.getElementById('pointer').getContext('2d');
		pad.pointer.ctx.fillStyle = 'rgba(128, 100, 162, 0.7)';
		pad.pointer.w = $('#pointer').attr('width');
		pad.pointer.h = $('#pointer').attr('height');
		$('#pointer').css({position:'absolute', left:0, top:200, width:pad.pointer.h, height:pad.pointer.h});
pad.pointer.ctx.beginPath();
pad.pointer.ctx.arc(pad.pointer.w / 2, pad.pointer.h / 2, pad.pointer.w / 2, 0, Math.PI * 2, false);
pad.pointer.ctx.fill();
*/
	}
	cx = x;
	cy = y;
}

function position(x, y)
{
	if (cx != undefined)
	{
		$('#x').text('X:' + (x - cx));
		$('#y').text('Y:' + (cy - y));
	}
	lx = x;
	ly = y;
}

function record()
{
//	$('#pointer').css({left:lx, top:ly});
	if (record.ctx == undefined)
	{
		record.ctx = document.getElementById('record').getContext('2d');
		record.w = $('#record').attr('width');
		record.h = $('#record').attr('height');
		$('#record').css({position:'absolute', left:pad.w, top:0, width:record.w, height:record.h});
		record.t = 0;
	}
	pad.ctx.beginPath();
	pad.ctx.moveTo(record.t - 1, record.ly);
	pad.ctx.lineTo(record.t, ly);
	pad.ctx.stroke();
	record.t++;
	record.ly = ly;
	if (record.t == record.w)
	{
		pad.ctx.clearRect(0, 0, record.w, record.h);
		record.t = 0;
	}
}

$(function(){
	pad(0, 0);
	setInterval(record, 10);
	$('#pad').mousemove(function(e){
		position(e.pageX, e.pageY);
	});
	$('#pad').click(function(e){
		pad(e.pageX, e.pageY);
		position(e.pageX, e.pageY);
	});
});
</script>
<canvas id="pad" width="800" height="800"></canvas>
<canvas id="record" width="800" height="800"></canvas>
<canvas id="pointer" width="20" height="20"></canvas>
<div id="x" style="position:absolute; top:0; font-size:50px;"></div>
<div id="y" style="position:absolute; top:100; font-size:50px;"></div>

